
<style>
/* Increase size for section headers */
h2 { font-size: 2.5em !important; }
h3 { font-size: 2.25em !important; }
h4 { font-size: 1.75em !important; }
</style>

# **Day 3: Introduction to Data Analysis with Pandas üêº**

Welcome to Day 3! Today, we'll dive into **Pandas**, a powerful Python library essential for data analysis. By the end of this session, you'll be comfortable with the basics of manipulating and analyzing data.

# **üéØ Goals for Today:**

1.  Understand what Python **libraries** are and why they are useful.
2.  Learn about **Pandas** and its primary data structures: **Series** and **DataFrame**.
3.  Load data from a CSV file into a DataFrame.
4.  Inspect and explore data to understand its structure and contents.
5.  Perform data cleaning tasks like handling missing values and duplicates.
6.  Transform data by creating new columns and changing data types.
7.  Calculate basic statistics and perform simple aggregations.
8.  Create basic visualizations (histograms, bar plots, scatter plots) to understand data patterns.
9.  Practice with hands-on exercises and group activities.

# **üõ†Ô∏è Setup: Import Libraries**

First, we need to import the libraries we'll be using. **Pandas** is for data manipulation, and **Matplotlib** is for plotting. We use aliases (`pd`, `plt`) by convention to make them easier to use.

In [1]:
# Import pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

print("Libraries imported successfully!")

Libraries imported successfully!

---
# **1. What are Python Libraries? ü§î**

Python libraries are collections of pre-written code (modules, functions, classes) that provide functionalities to perform specific tasks without you having to write the code from scratch. They extend Python's capabilities.

**Common Libraries in Data Analysis:**
* **Pandas:** For data manipulation and analysis (what we're learning today!).
* **NumPy:** For numerical operations, especially with arrays.
* **Matplotlib:** For creating static, animated, and interactive visualizations.
* **Seaborn:** Built on Matplotlib, provides a high-level interface for drawing attractive statistical graphics.
* **SciPy:** For scientific and technical computing.
* **Scikit-learn:** For machine learning tasks.

---
# **2. Introduction to Pandas üêº**

**Pandas** is a fast, powerful, flexible, and easy-to-use open-source data analysis and manipulation tool, built on top of the Python programming language. It's the go-to library for handling structured data.

**Why use Pandas?**
* Easily loads data from various sources (CSV, Excel, databases, etc.).
* Provides rich data structures for holding and manipulating data.
* Offers a wide range of functions for cleaning, transforming, merging, and reshaping data.
* Integrates well with other data science libraries like NumPy and Matplotlib.

**Core Pandas Data Structures:**

# **2.1. Pandas Series**
A **Series** is a one-dimensional labeled array capable of holding data of any type (integers, strings, floating-point numbers, Python objects, etc.). It's like a single column in a spreadsheet or a SQL table. Each element in a Series has an associated label, called an **index**.

In [6]:
# Example 2.1.1: Create a Series from a list
my_list = [90, 85, 77, 92, 88]
student_scores = pd.Series(my_list)
print("My List:")
print(my_list)
print("Student Scores Series with default index:")
print(student_scores)

# Example 2.1.2: Create a Series with a custom index
fruit_quantities = pd.Series([10, 15, 8, 12], index=['apples', 'bananas', 'cherries', 'dates'])
print("\nFruit Quantities Series with custom index:")
print(fruit_quantities)

# Accessing an element using index
print("\nQuantity of bananas:", fruit_quantities['bananas'])

My List:
[90, 85, 77, 92, 88]
Student Scores Series with default index:
0    90
1    85
2    77
3    92
4    88
dtype: int64

Fruit Quantities Series with custom index:
apples      10
bananas     15
cherries     8
dates       12
dtype: int64

Quantity of bananas: 15

**Exercise 2.1.1:** Create a Pandas Series named `book_prices` with the following prices: `[15.99, 22.50, 12.75, 9.99]`. Print the Series.

In [ ]:
# Exercise 2.1.1 Code Cell
book_prices = pd.Series([15.99, 22.50, 12.75, 9.99])
print(book_prices)

**Exercise 2.1.2:** Create a Pandas Series named `subject_teachers` with subjects as indices `['Math', 'Science', 'History', 'English']` and teacher names as values `['Mr. Smith', 'Ms. Jones', 'Dr. Brown', 'Ms. Davis']`. Print the Series and then print the teacher for 'History'.

In [ ]:
# Exercise 2.1.2 Code Cell
subject_teachers = pd.Series(['Mr. Smith', 'Ms. Jones', 'Dr. Brown', 'Ms. Davis'], index=['Math', 'Science', 'History', 'English'])
print(subject_teachers)
print("\nTeacher for History:", subject_teachers['History'])

# **‚ú® Group Activity 1: Series Operations ‚ú®**

**Scenario:** You have a Series of product prices and want to apply a 10% discount.
1. Create a Pandas Series named `original_prices` with values `[20, 50, 30, 75, 90]`.
2. Try to calculate the discounted prices (original price - 10% of original price).
3. **Buggy Code attempt:** `discounted_prices = original_prices - "10%"`
4. Discuss: Why does this fail? How can you correctly calculate the discount (e.g., `original_prices * 0.90`)?
5. Write the corrected code to calculate and print the `discounted_prices`.

In [ ]:
# Group Activity 1 Code Cell
original_prices = pd.Series([20, 50, 30, 75, 90])
# discounted_prices = original_prices - "10%" # This is buggy!
# print(discounted_prices)

# Write your corrected code here:
discount_percentage = 0.10
discounted_prices = original_prices * (1 - discount_percentage)
print("Original Prices:")
print(original_prices)
print("\nDiscounted Prices (10% off):")
print(discounted_prices)

# **2.2. Pandas DataFrame**
A **DataFrame** is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). You can think of it as a spreadsheet, a SQL table, or a dictionary of Series objects. It's the most commonly used Pandas object.

In [7]:
from datetime import date
# Example 2.2.1: Create a DataFrame from a dictionary of lists
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'Paris', 'London', 'Berlin']
}
df_people = pd.DataFrame(data)
print(data)
print("People DataFrame:")
print(df_people)

{'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 22, 28], 'City': ['New York', 'Paris', 'London', 'Berlin']}
People DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   22    London
3    David   28    Berlin

**Exercise 2.2.1:** Create a DataFrame named `df_products` with three columns: `Product_Name` (strings), `Price` (floats), and `In_Stock` (booleans). Include at least 3 rows of data. Print the DataFrame.

In [ ]:
# Exercise 2.2.1 Code Cell
product_data = {
    'Product_Name': ['Laptop', 'Mouse', 'Keyboard'],
    'Price': [1200.00, 25.50, 75.99],
    'In_Stock': [True, False, True]
}
df_products = pd.DataFrame(product_data)
print(df_products)

**Exercise 2.2.2:** Create a DataFrame named `df_temps` with rows indexed by `['Mon', 'Tue', 'Wed']` and columns for `['Morning_Temp', 'Evening_Temp']`. Populate it with some temperature data. Print the DataFrame.

In [ ]:
# Exercise 2.2.2 Code Cell
temp_data = {
    'Morning_Temp': [15, 17, 16],
    'Evening_Temp': [10, 12, 11]
}
days_index = ['Mon', 'Tue', 'Wed']
df_temps = pd.DataFrame(temp_data, index=days_index)
print(df_temps)

# **‚ú® Group Activity 2: DataFrame Column Name Error ‚ú®**

**Scenario:** You're creating a DataFrame but make a typo in one of the dictionary keys intended to be a column name.
1. **Buggy Code attempt:**
   ```python
   student_data = {
       'StudentID': [101, 102, 103],
       'Score': [85, 90, 78],
       'Nmae': ['Eve', 'Finn', 'Grace'] # Typo: Nmae instead of Name
   }
   df_students_buggy = pd.DataFrame(student_data)
   print(df_students_buggy)
# **Now try to access the 'Name' column**
# **print(df_students_buggy['Name'])**
   ```
2. Discuss: What happens when you create the DataFrame? What happens if you try to access `df_students_buggy['Name']`? Why?
3. How would you correct the `student_data` dictionary to fix this? Write the corrected code to create the DataFrame and successfully print the 'Name' column.

In [ ]:
# Group Activity 2 Code Cell
student_data_buggy = {
    'StudentID': [101, 102, 103],
    'Score': [85, 90, 78],
    'Nmae': ['Eve', 'Finn', 'Grace'] # Typo
}
df_students_buggy = pd.DataFrame(student_data_buggy)
print("Buggy DataFrame:")
print(df_students_buggy)

# Try to access 'Name' column (will cause a KeyError)
print("\nAccessing 'Name' column from buggy DataFrame (will error):")
try:
    print(df_students_buggy['Name'])
    print(f"Error: {e}")

# Write your corrected code here:
student_data_corrected = {
    'StudentID': [101, 102, 103],
    'Score': [85, 90, 78],
    'Name': ['Eve', 'Finn', 'Grace'] # Corrected typo
}
df_students_corrected = pd.DataFrame(student_data_corrected)
print("\nCorrected DataFrame:")
print(df_students_corrected)
print("\nAccessing 'Name' column from corrected DataFrame:")
print(df_students_corrected['Name'])

---
# **3. Loading Data from CSV Files üìÑ**

CSV (Comma Separated Values) files are a common way to store tabular data. Pandas makes it very easy to read data from CSV files into a DataFrame.

**Key function:** `pd.read_csv('your_file_name.csv')`

**For this notebook, we will assume you have a `student.csv` file in the same directory as this notebook with the following approximate structure:**
```csv
id,name,class,mark,gender
1,John Deo,Four,75,female
2,Max Ruin,Three,85,male
3,Arnold,Three,55,male
4,Krish Star,Four,60,female
5,John Mike,Four,60,female
6,Alex John,Four,55,male
7,My John Rob,Fifth,78,male
8,Asruid,Five,85,male
9,Tes Qry,Six,78,
10,Big John,Four,55,female
11,Ronald,Six,89,female
12,Recky,Six,94,female
13,Kty,Seven,88,female
14,Bigy,Seven,88,female
15,Tade Row,Eight,88,male
16,Gimmy,Four,88,male
17, HONNY,Five,75,male
18,KINN ENG,Six,98,female
19,Linnea,Seven,69,female
20,Jackly,Nine,65,female
21,Babby John,Four,69,female
22,Reggid,Seven,72,male
23,Herod,Eight,79,male
24,Tiddy Now,Seven,78,male
25,Mikky,Seven,72,male
26,Crelea,Seven,79,male
27,Big Nose,Three,82,female
28, Anto,Six,67,male
29,Tes Qry,Six,78,
30,Reppy Red,Six,79,female
31,Malik,Five,82,male
32,„Ç§„Éâ„É™,Four,75,male
33,Monika,Nine,58,female
34,Gain Toe,Seven,69,male
35,BSR,Eight,92,male
```
*(You can create this file yourself, or I will provide code to create a sample DataFrame if the file is not found.)*

In [14]:
# Example 3.1: Load the student.csv file
# Make sure 'student.csv' is in the same directory as this notebook, or provide the full path.
df_students = pd.read_csv('student.csv')
print("student.csv loaded successfully!")
# Display the first 5 rows to verify
print("The First 5 Rows")
print(df_students.head(10))
# Display the last 5 rows to verify
print("The Last 5 Rows")
print(df_students.tail())

student.csv loaded successfully!
The First 5 Rows
   id         name  class  mark  gender
0   1     John Deo   Four    75  female
1   2     Max Ruin  Three    85    male
2   3       Arnold  Three    55    male
3   4   Krish Star   Four    60  female
4   5    John Mike   Four    60  female
5   6    Alex John   Four    55    male
6   7  My John Rob  Fifth    78    male
7   8       Asruid   Five    85    male
8   9      Tes Qry    Six    78     NaN
9  10     Big John   Four    55  female
The Last 5 Rows
    id         name  class  mark  gender
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

**Exercise 3.1:** Imagine you have another CSV file named `courses.csv` with columns `Course_ID`, `Course_Name`, `Credits`. Write the Python code to load this hypothetical file into a DataFrame called `df_courses`. (You don't need to create the file, just write the loading command and handle a potential `FileNotFoundError` gracefully by printing a message).

In [ ]:
# Exercise 3.1 Code Cell
# df_courses = pd.read_csv('courses.csv') # This line is for the exercise
# print("courses.csv loaded successfully!")
# print(df_courses.head())
print("Hypothetical load attempted. If 'courses.csv' existed, it would be loaded.")
print("Error: 'courses.csv' not found. This is expected for this exercise.")

**Exercise 3.2:** Load the `student.csv` file (or use the sample `df_students` if the file isn't present). Then, print the total number of rows and columns in the DataFrame. (Hint: Use an attribute of the DataFrame).

In [ ]:
# Exercise 3.2 Code Cell
# Assuming df_students is loaded from the previous example cell
if 'df_students' in globals():
    print(f"Number of rows: {df_students.shape[0]}")
    print(f"Number of columns: {df_students.shape[1]}")
    # Or print(df_students.shape) for (rows, columns)
else:
    print("df_students DataFrame not found. Please run the loading cell first.")

*(Note: For Google Colab users, you can upload files using the GUI or mount Google Drive as shown in the PPT. For simplicity in this general notebook, we assume local file access or create a sample.)*

---
# **4. Inspecting Your Data (Initial Exploration) üïµÔ∏è‚Äç‚ôÄÔ∏è**

Once your data is loaded, the first step is to inspect it to understand its structure, content, and quality. Pandas provides several useful functions for this:

* `df.head(n)`: View the first `n` rows (default is 5).
* `df.tail(n)`: View the last `n` rows (default is 5).
* `df.shape`: Get the dimensions (number of rows, number of columns).
* `df.info()`: Get a concise summary including data types, non-null values, and memory usage.
* `df.dtypes`: Check the data type of each column.
* `df.columns`: View the column names.
* `df.describe()`: Generate descriptive statistics for numerical columns (count, mean, std, min, max, quartiles).

In [17]:
# Example 4.1: Inspecting df_students
# Ensure df_students is loaded from the previous section
print("First 3 rows:")
print(df_students.head(3))
print("\nLast 2 rows:")
print(df_students.tail(2))
print("\nShape of DataFrame:", df_students.shape)
print("\nDataFrame Info:")
df_students.info()
print("\nData Types:")
print(df_students.dtypes)
print("\nColumn Names:")
print(df_students.columns)
print("\nDescriptive Statistics for numerical columns:")
print(df_students.describe())

First 3 rows:
   id      name  class  mark  gender
0   1  John Deo   Four    75  female
1   2  Max Ruin  Three    85    male
2   3    Arnold  Three    55    male

Last 2 rows:
    id        name  class  mark  gender
33  34    Gain Toe  Seven    69    male
34  35  Rows Noump    Six    88  female

Shape of DataFrame: (35, 5)

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

Data Types:
id         int64
name      object
class     object
mark       int64
gender    object
dtype: object

Column Names:
Index(['id', 'name', 'class', 'mark', 'gender'], dtype='object')

Descriptive Statistics for numerical columns:
              id       mark
count  35.000000  35.000000
mean   18.000000  74.657143
std    10.246951  16.401117
min     1.000000  18.000000
25%     9.500000  62.500000
50%    18.000000  79.000000
75%    26.500000  88.000000
max    35.000000  96.000000

**Exercise 4.1:** Using the `df_students` DataFrame, display:
1. The first 7 rows.
2. The last 4 rows.
3. Only the column names.

In [ ]:
# Exercise 4.1 Code Cell
if 'df_students' in globals():
    print("First 7 rows:")
    print(df_students.head(7))
    print("\nLast 4 rows:")
    print(df_students.tail(4))
    print("\nColumn Names:")
    print(df_students.columns)
else:
    print("df_students not loaded.")

**Exercise 4.2:** For the `df_students` DataFrame:
1. Get a full summary using `info()`.
2. Get descriptive statistics for only the 'mark' column. (Hint: `df['column_name'].describe()`)

In [ ]:
# Exercise 4.2 Code Cell
if 'df_students' in globals():
    print("DataFrame Info:")
    df_students.info()
    print("\nDescriptive Statistics for 'mark' column:")
    print(df_students['mark'].describe())
else:
    print("df_students not loaded.")

# **‚ú® Group Activity 3: Understanding `df.describe()` ‚ú®**

**Scenario:** A new team member runs `df_students.describe()` and is confused by the output for non-numeric columns (or their absence).
1. Run `df_students.describe()` and `df_students.describe(include='all')`.
2. Discuss:
    a. What does `df.describe()` show by default? Which columns does it include?
    b. What does `df.describe(include='all')` show for columns like 'name' or 'gender'? What do 'unique', 'top', and 'freq' mean in this context?
    c. Why might the 'count' be different for different columns in the `describe()` output?
3. Explain to your hypothetical team member what insights they can get from both versions of `describe()`.

In [ ]:
# Group Activity 3 Code Cell
if 'df_students' in globals():
    print("Default describe():")
    print(df_students.describe())
    print("\nDescribe all (include='all'):")
    print(df_students.describe(include='all'))
    # Discussion points:
    # a. Default describe() includes only numerical columns. It shows count, mean, std, min, 25th percentile, median (50th), 75th percentile, max.
    # b. describe(include='all') includes all columns. For non-numeric (object/categorical) columns, it shows 'unique' (number of distinct values),
    #    'top' (most frequent value), and 'freq' (frequency of the top value). For numeric columns, it shows NaN for these.
    # c. 'Count' can be different because it only counts non-missing (non-NaN) values. Different columns can have different numbers of missing values.
else:
    print("df_students not loaded.")

---
# **5. Data Selection and Subsetting (Slicing and Dicing!) üî™**

Often, you'll want to work with specific parts of your DataFrame.

**Ways to select data:**
* **Selecting columns:**
    * Single column (returns a Series): `df['column_name']'.
    * Multiple columns (returns a DataFrame): `df[['col1', 'col2', 'col3']]`.
* **Selecting rows and columns with `loc` (label-based selection):**
    * `df.loc[row_label]` (selects a single row)
    * `df.loc[[row_label1, row_label2]]` (selects multiple specific rows)
    * `df.loc[start_label:end_label]` (selects a range of rows, inclusive)
    * `df.loc[:, 'column_name']` (selects all rows for a specific column)
    * `df.loc[row_label, 'column_name']` (selects a specific value)
    * `df.loc[row_labels_list, column_labels_list]`
* **Selecting rows and columns with `iloc` (integer position-based selection):**
    * `df.iloc[row_index]`
    * `df.iloc[[row_index1, row_index2]]`
    * `df.iloc[start_index:end_index]` (selects a range of rows, `end_index` is exclusive)
    * `df.iloc[:, column_index]`
    * `df.iloc[row_index, column_index]`
    * `df.iloc[row_indices_list, column_indices_list]`

In [ ]:
# Assume df_students is already loaded

# 1. Single row by position:
print(df_students.iloc[2])
# Equivalent to df.iloc[row_index]

# 2. Multiple specific rows by list of positions:
print(df_students.iloc[[0, 3, 5]])
# Equivalent to df.iloc[[row_index1, row_index2, ...]]

# 3. Slice of rows (end exclusive):
print(df_students.iloc[1:4])
# Equivalent to df.iloc[start_index:end_index]

# 4. All rows for a single column by position:
print(df_students.iloc[:, 2])
# Equivalent to df.iloc[:, column_index]

# 5. Single cell by row & column positions:
print(df_students.iloc[1, 2])
# Equivalent to df.iloc[row_index, column_index]

# 6. Sub-DataFrame by lists of row and column positions:
print(df_students.iloc[[0, 2, 4], [1, 3]])
# Equivalent to df.iloc[row_indices_list, column_indices_list]

**Exercise 5.1:** From `df_students`:
1. Select and display only the 'class' column.
2. Select and display the 'name', 'mark', and 'gender' columns for all students.

In [ ]:
# Exercise 5.1 Code Cell
if 'df_students' in globals():
    print("Class column:")
    print(df_students['class'].head())
    print("\nName, Mark, and Gender columns:")
    print(df_students[['name', 'mark', 'gender']].head())
else:
    print("df_students not loaded.")

**Exercise 5.2:** From `df_students`:
1. Using `loc`, select the data for students at index positions 2, 4, and 6 (if these indices exist in your DataFrame's index), showing only their 'name' and 'mark'.
2. Using `iloc`, select the students in rows 0 through 4 (inclusive for start, exclusive for end for `iloc`) and columns 1 through 3 (exclusive for end for `iloc`).

In [ ]:
# Exercise 5.2 Code Cell
if 'df_students' in globals():
    # 1. Using loc
    indices_to_select_loc = [idx for idx in [2, 4, 6] if idx in df_students.index]
    if indices_to_select_loc:
        print("Selected students using loc (indices 2, 4, 6 if they exist):")
        print(df_students.loc[indices_to_select_loc, ['name', 'mark']])
    else:
        print("None of the specified indices [2, 4, 6] found for loc selection.")

    # 2. Using iloc
    print("\nSelected students using iloc (rows 0-4, columns 1-3):")
    # Rows 0, 1, 2, 3 (iloc is exclusive for end index)
    # Columns 1, 2 (iloc is exclusive for end index)
    print(df_students.iloc[0:4, 1:3])
else:
    print("df_students not loaded.")

# **‚ú® Group Activity 4: `loc` vs `iloc` Confusion ‚ú®**

**Scenario:** Someone is trying to get the first 5 rows and the column named 'mark'.
1. **Attempt 1 (potentially buggy depending on index):** `df_students.loc[0:4, 'mark']`
2. **Attempt 2 (buggy):** `df_students.iloc[0:5, 'mark']`
3. Discuss:
    a. If the DataFrame's row index is the default (0, 1, 2,...), which attempt works for getting the 'mark' of the first 5 rows? Why is `0:4` used for `loc` here?
    b. Why does the other attempt fail or behave unexpectedly? What type of argument does `iloc` expect for columns?
4. Write the corrected versions for both `loc` and `iloc` to achieve the goal (get 'mark' for the first 5 rows).
   (Hint for `iloc`: you might need to find the integer position of the 'mark' column first using `df_students.columns.get_loc('mark')`)

In [ ]:
# Group Activity 4 Code Cell
if 'df_students' in globals():
    print("Attempt 1 (loc - works if index is 0,1,2,3,4):")
    # loc is inclusive of the end label, so 0:4 gives rows with labels 0, 1, 2, 3, 4 (5 rows if index starts at 0)
    if all(i in df_students.index for i in range(5)):
         print(df_students.loc[0:4, 'mark'])
    else:
        print("Default integer index 0-4 not fully present for loc example.")

    print("\nAttempt 2 (iloc - this will raise an error because 'mark' is a label, not an int position):")
    try:
        print(df_students.iloc[0:5, 'mark'])
    except Exception as e:
        print(f"Error: {e}")
        print("iloc requires integer positions for columns.")

    print("\nCorrected versions:")
    print("Using loc (first 5 rows, 'mark' column - assuming index is 0-based and continuous):")
    # df.head(5) would give first 5 rows. For loc, if index is 0,1,2,3,4...
    if all(i in df_students.index for i in range(5)):
        print(df_students.loc[df_students.index[:5], 'mark'])
    else:
        print("Cannot guarantee first 5 rows with .loc[0:4] if index isn't [0,1,2,3,4,...]. Using .head().index instead for robustness.")
        print(df_students.loc[df_students.head(5).index, 'mark'])

    print("\nUsing iloc (first 5 rows, 'mark' column):")
    mark_column_index = df_students.columns.get_loc('mark')
    print(df_students.iloc[0:5, mark_column_index])

else:
    print("df_students not loaded.")

---
# **6. Filtering DataFrames üö¶**

Filtering allows you to select rows that meet certain conditions. This is a fundamental part of data analysis.

**Syntax:** `df[condition]`

**Conditions can be combined using logical operators:**
* `&` for AND
* `|` for OR
* `~` for NOT

Parentheses `()` are important when combining multiple conditions.

In [ ]:
# Assume df_students is already loaded

# Basic filtering syntax:
# df_students[condition]

# 1. AND combination:
df_students[(df_students['gender'] == 'female') & (df_students['class'] == 'Four')]

# 2. OR combination:
df_students[(df_students['class'] == 'Three') | (df_students['mark'] < 60)]

# 3. NOT:
df_students[~(df_students['mark'] > 80)]

**Exercise 6.1:** From `df_students`, select and display:
1. All students who are 'male'.
2. All students whose 'mark' is exactly 78.

In [ ]:
# Exercise 6.1 Code Cell
if 'df_students' in globals():
    male_students = df_students[df_students['gender'] == 'male']
    print("Male students:\n", male_students)

    mark_78_students = df_students[df_students['mark'] == 78]
    print("\nStudents with mark 78:\n", mark_78_students)
else:
    print("df_students not loaded.")

**Exercise 6.2:** From `df_students`, select and display:
1. All 'female' students who have a 'mark' greater than or equal to 70.
2. All students who are in 'class' 'Six' OR 'class' 'Seven'.

In [ ]:
# Exercise 6.2 Code Cell
if 'df_students' in globals():
    female_high_scorers = df_students[(df_students['gender'] == 'female') & (df_students['mark'] >= 70)]
    print("Female students with mark >= 70:\n", female_high_scorers)

    class_six_or_seven = df_students[(df_students['class'] == 'Six') | (df_students['class'] == 'Seven')]
    print("\nStudents in class Six or Seven:\n", class_six_or_seven)
else:
    print("df_students not loaded.")

# **‚ú® Group Activity 5: Tricky Filtering ‚ú®**

**Scenario:** You want to find students who are *not* in 'class Four' AND have a mark *between* 60 and 80 (inclusive).
1. **Buggy Code attempt:**
   `# filtered_df = df_students[df_students['class'] != 'Four' & df_students['mark'] >= 60 & df_students['mark'] <= 80]`
2. Discuss: Why might this code produce an error or incorrect results? (Hint: Operator precedence and parentheses for conditions).
3. Write the corrected code to achieve the desired filtering. Display the result.

In [ ]:
# Group Activity 5 Code Cell
if 'df_students' in globals():
    # Buggy attempt (commented out to prevent error, illustrates the point)
    # filtered_df_buggy = df_students[df_students['class'] != 'Four' & df_students['mark'] >= 60 & df_students['mark'] <= 80]
    # print(filtered_df_buggy)
    # The issue is operator precedence. `&` has higher precedence than `!=`, `>=`, `<=`.
    # Python tries to evaluate `Four' & df_students['mark']` first, which is nonsensical.
    # Each condition needs to be in parentheses.

    # Corrected code:
    filtered_df_corrected = df_students[
        (df_students['class'] != 'Four') &
        (df_students['mark'] >= 60) &
        (df_students['mark'] <= 80)
    ]
    print("Students not in class Four AND mark between 60-80 (inclusive):\n", filtered_df_corrected)
else:
    print("df_students not loaded.")

---
# **7. Data Cleaning üßπ**

Real-world data is often messy. Data cleaning involves handling inconsistencies, errors, and missing data.

# **7.1. Handling Missing Values (`NaN`)**
Missing values are usually represented as `NaN` (Not a Number).

* **Detecting missing values:** `df.isnull()` (returns a boolean DataFrame) or `df.isnull().sum()` (counts missing values per column).
* **Dropping missing values:** `df.dropna()` (drops rows with any NaN).
    * `axis=1` drops columns with NaN.
    * `how='all'` drops rows/columns if all values are NaN.
    * `thresh=N` keeps rows/columns with at least N non-NaN values.
* **Filling missing values:** `df.fillna(value)`
    * Fill with a specific value (0, 'Unknown', etc.).
    * Fill with mean: `df['column'].fillna(df['column'].mean())`.
    * Fill with median: `df['column'].fillna(df['column'].median())`.
    * Fill with mode: `df['column'].fillna(df['column'].mode()[0])` (mode can return multiple values, so take the first).
    * `method='ffill'` (forward fill) or `method='bfill'` (backward fill).

In [ ]:
import warnings
from pandas import DataFrame

# (1) Optional: suppress FutureWarnings entirely
warnings.simplefilter('ignore', FutureWarning)

# Assume df_students is already loaded as a DataFrame
assert isinstance(df_students, DataFrame)

# 2. Detect missing values
print("Missing per column:\n", df_students.isnull().sum(), "\n")

# 3. Drop missing values (as before)
print("Shape before dropna():", df_students.shape)
df_dropped = df_students.dropna()
print("Shape after dropna():", df_dropped.shape, "\n")

# 4. Fill missing values without chained assignment
mean_mark = df_students['mark'].mean()
df_students['mark'] = df_students['mark'].fillna(mean_mark)
print("'mark' after filling with mean:\n", df_students['mark'].head(), "\n")

mode_gender = df_students['gender'].mode()[0]
df_students['gender'] = df_students['gender'].fillna(mode_gender)
print("'gender' after filling with mode:\n", df_students['gender'].head(), "\n")

# 5. Forward- and backward-fill using dedicated methods
df_ffill = df_students.ffill()
print("First few rows after forward-fill:\n", df_ffill.head(), "\n")

df_bfill = df_students.bfill()
print("First few rows after backward-fill:\n", df_bfill.head())

**Exercise 7.1.1:** Using a fresh copy of `df_students` (reload or use `df_students.copy()`):
1. Count the total number of missing values in the entire DataFrame using `df.isnull().sum().sum()`.
2. Fill any missing 'gender' values with the mode of the 'gender' column. Print the `isnull().sum()` again to verify.

In [ ]:
# Exercise 7.1.1 Code Cell
if 'df_students' in globals():
    df_students_copy = df_students.copy()
    # 1. Count total missing values
    total_missing = df_students_copy.isnull().sum().sum()
    print(f"Total missing values initially: {total_missing}")

    # 2. Fill missing 'gender' with mode
    if not df_students_copy['gender'].mode().empty:
        gender_mode = df_students_copy['gender'].mode()[0]
        df_students_copy['gender'].fillna(gender_mode, inplace=True)
        print("\nMissing values after filling 'gender' with mode:")
        print(df_students_copy.isnull().sum())
    else:
        print("\n'gender' column mode could not be determined (e.g., all NaN or empty).")
else:
    print("Run data loading cell first.")

**Exercise 7.1.2:** Using a fresh copy of `df_students`:
1. For the 'mark' column, ensure it's numeric (coercing errors), then fill missing values using forward fill (`ffill`).
2. Then, if any NaNs remain in 'mark' (e.g., if the first row was NaN), fill them with 0.
3. Print the `isnull().sum()` for 'mark' to check.

In [ ]:
# Exercise 7.1.2 Code Cell
if 'df_students' in globals():
    df_students_copy_2 = df_students.copy()
    # Ensure 'mark' is numeric
    df_students_copy_2['mark'] = pd.to_numeric(df_students_copy_2['mark'], errors='coerce')
    print("Missing marks before ffill:", df_students_copy_2['mark'].isnull().sum())

    # 1. Forward fill for 'mark'
    df_students_copy_2['mark'].ffill(inplace=True)
    print("Missing marks after ffill:", df_students_copy_2['mark'].isnull().sum())

    # 2. Fill any remaining NaNs with 0
    df_students_copy_2['mark'].fillna(0, inplace=True)
    print("Missing marks after filling remaining with 0:", df_students_copy_2['mark'].isnull().sum())
else:
    print("Run data loading cell first.")

# **7.2. Handling Duplicates**
* **Detecting duplicates:** `df.duplicated()` (returns boolean Series) or `df.duplicated().sum()` (counts duplicated rows).
    * `keep='first'` (default): Marks all but the first occurrence as duplicate.
    * `keep='last'`: Marks all but the last occurrence as duplicate.
    * `keep=False`: Marks all occurrences of duplicates as True.
* **Dropping duplicates:** `df.drop_duplicates()`
    * `subset=['col1', 'col2']`: Consider duplicates based on specific columns only.

In [ ]:
# Assume df_students is already loaded

# 1. Detect duplicates
#    df.duplicated() ‚Üí boolean mask; df.duplicated().sum() ‚Üí count
print("Total duplicated rows (excluding first occurrences):",
      df_students.duplicated().sum())

# 2. Mark *all* duplicates (including first) if you want:
print("Total rows involved in any duplicate:",
      df_students.duplicated(keep=False).sum())

# 3. Drop duplicates (keep first occurrence, default behavior)
df_no_dup = df_students.drop_duplicates()
print("Shape before drop_duplicates():", df_students.shape)
print("Shape after drop_duplicates():", df_no_dup.shape)

# 4. Drop duplicates based on a subset of columns
#    subset=['name','class'], keep='last'
df_no_dup_subset = df_students.drop_duplicates(
    subset=['name', 'class'],
    keep='last'
)
print("\nShape after drop_duplicates(subset=['name','class'], keep='last'):",
      df_no_dup_subset.shape)

**Exercise 7.2.1:** Using `df_students` (ensure it has the duplicate 'Tes Qry' entries from the sample data or add one manually for testing):
1. Check for duplicate rows based *only* on the 'name' column. How many are there (considering first as non-duplicate)?
2. Create a new DataFrame `df_unique_names` by dropping these duplicates based on 'name', keeping the first instance. Print its shape.

In [ ]:
# Exercise 7.2.1 Code Cell
if 'df_students' in globals():
    # 1. Check duplicates based on 'name'
    num_name_duplicates = df_students.duplicated(subset=['name']).sum()
    print(f"Number of rows with duplicate names (excluding first occurrences): {num_name_duplicates}")

    # 2. Drop duplicates based on 'name'
    df_unique_names = df_students.drop_duplicates(subset=['name'], keep='first')
    print("\nShape of DataFrame with unique names:", df_unique_names.shape)
else:
    print("df_students not loaded.")

**Exercise 7.2.2:** Create a small sample DataFrame manually with a few rows, ensuring at least two rows are complete duplicates across all columns.
1. Count the number of fully duplicated rows.
2. Remove them and print the cleaned DataFrame.

In [ ]:
# Exercise 7.2.2 Code Cell
sample_data_for_duplicates = {
    'colA': [1, 2, 1, 3, 4],
    'colB': ['apple', 'banana', 'apple', 'orange', 'grape'],
    'colC': [10.0, 20.0, 10.0, 30.0, 20.0]
}
df_sample_dup = pd.DataFrame(sample_data_for_duplicates)
print("Original sample DataFrame with potential duplicates:")
print(df_sample_dup)

# 1. Count fully duplicated rows
num_full_duplicates = df_sample_dup.duplicated().sum()
print(f"\nNumber of fully duplicated rows: {num_full_duplicates}")

# 2. Remove them and print cleaned DataFrame
df_sample_cleaned = df_sample_dup.drop_duplicates()
print("\nCleaned sample DataFrame:")
print(df_sample_cleaned)

# **7.3. Renaming Columns**
You can rename columns using `df.rename(columns={'old_name': 'new_name', ...}, inplace=True)`.

In [ ]:
# Assume df_students is already loaded

# 1. Show original column names
print("Original columns:", list(df_students.columns))

# 2. Rename columns (without modifying the original)
df_renamed = df_students.rename(
    columns={'class': 'student_class', 'mark': 'score'}
)
print("After rename (new DataFrame):", list(df_renamed.columns))

# 3. Rename columns in place (modifies df_students)
df_students.rename(
    columns={'class': 'student_class', 'mark': 'score'},
    inplace=True
)
print("After inplace rename (original DataFrame):", list(df_students.columns))

**Exercise 7.3.1:** In a copy of `df_students`, rename the 'gender' column to 'sex'. Print the new column names.

In [ ]:
# Exercise 7.3.1 Code Cell
if 'df_students' in globals():
    df_students_renamed_ex1 = df_students.copy()
    df_students_renamed_ex1.rename(columns={'gender': 'sex'}, inplace=True)
    print("New column names after renaming 'gender' to 'sex':")
    print(df_students_renamed_ex1.columns)
else:
    print("df_students not loaded.")

**Exercise 7.3.2:** In a copy of `df_students`, rename 'id' to 'student_id' and 'name' to 'full_name' in a single command. Print the head of the modified DataFrame.

In [ ]:
# Exercise 7.3.2 Code Cell
if 'df_students' in globals():
    df_students_renamed_ex2 = df_students.copy()
    df_students_renamed_ex2.rename(columns={'id': 'student_id', 'name': 'full_name'}, inplace=True)
    print("Head of DataFrame after renaming 'id' and 'name':")
    print(df_students_renamed_ex2.head())
else:
    print("df_students not loaded.")

# **‚ú® Group Activity 6: Data Cleaning Strategy Discussion ‚ú®**

**Scenario:** Your `df_students` DataFrame has missing values in 'mark' (numerical) and 'gender' (categorical).
1. Display `df_students.isnull().sum()`.
2. Discuss in your group:
    a. For the 'mark' column, what are the pros and cons of:
        i. Dropping rows with missing marks?
        ii. Filling with 0?
        iii. Filling with the mean mark?
        iv. Filling with the median mark?
    b. For the 'gender' column, what are the pros and cons of:
        i. Dropping rows with missing gender?
        ii. Filling with 'Unknown'?
        iii. Filling with the mode?
3. Choose a strategy for both columns, implement it on a copy of `df_students`, and justify your choices.

In [ ]:
# Group Activity 6 Code Cell
if 'df_students' in globals():
    df_cleaned_discussion = df_students.copy()
    print("Initial missing values:")
    print(df_cleaned_discussion.isnull().sum())

    # --- Group Discussion Points ---
    # Mark Column Strategy:
    # i. Dropping: Pros - simple, retains data integrity if missingness is random and small. Cons - loss of data, potential bias if not random or large.
    # ii. Filling with 0: Pros - keeps row, easy. Cons - skews distribution, might be misinterpreted as actual zero score.
    # iii. Filling with Mean: Pros - keeps row, preserves mean. Cons - reduces variance, can be affected by outliers.
    # iv. Filling with Median: Pros - keeps row, robust to outliers. Cons - reduces variance.
    # Chosen for mark: Fill with median (robust to outliers).
    df_cleaned_discussion['mark'] = pd.to_numeric(df_cleaned_discussion['mark'], errors='coerce') # Ensure numeric
    mark_median = df_cleaned_discussion['mark'].median()
    df_cleaned_discussion['mark'].fillna(mark_median, inplace=True)
    print(f"\nFilled missing 'mark' values with median: {mark_median}")

    # Gender Column Strategy:
    # i. Dropping: Pros - simple. Cons - loss of data.
    # ii. Filling with 'Unknown': Pros - keeps row, explicitly marks missingness as a category. Cons - creates a new category.
    # iii. Filling with Mode: Pros - keeps row, uses most common value. Cons - can distort distribution if many missing.
    # Chosen for gender: Fill with 'Unknown' (explicitly handles missing as a distinct category).
    df_cleaned_discussion['gender'].fillna('Unknown', inplace=True)
    print("Filled missing 'gender' values with 'Unknown'.")

    print("\nMissing values after chosen strategy:")
    print(df_cleaned_discussion.isnull().sum())
else:
    print("df_students not loaded.")

---
# **8. Data Transformation üîÑ**

Transforming data involves changing its format, structure, or values. This can include creating new columns or changing data types.

# **8.1. Creating New Columns**
You can create new columns by:
* Assigning a scalar value: `df['new_col'] = value`
* Deriving from existing columns: `df['new_col'] = df['col1'] + df['col2']`
* Using `apply()` with a function or `lambda` for more complex logic: `df['new_col'] = df['existing_col'].apply(lambda x: ...)`

In [ ]:
# 0. Quick check: what columns do we actually have?
print("Columns in df_students:", df_students.columns.tolist())

# 1. Scalar assignment
df_students['school'] = 'High School'

# 2. Derive percentage from the actual numeric column
#    (replace 'score' below with whatever your numeric column is called)
df_students['mark_percentage'] = df_students['score']  # if your column is named 'score'

# 3. Pass/Fail based on that same column
df_students['pass_fail'] = df_students['score'].apply(lambda x: 'Pass' if x >= 60 else 'Fail')

# 4. View the result
print(df_students[['name', 'school', 'mark_percentage', 'pass_fail']].head())

**Exercise 8.1.1:** In a copy of `df_students` (ensure 'mark' is numeric and NaNs are handled, e.g., filled with 0 for this exercise):
1. Create a new column called `bonus_mark` which is 10% of the original 'mark'.
2. Create another column `final_mark` which is the sum of 'mark' and `bonus_mark`.
3. Print the 'name', 'mark', `bonus_mark`, and `final_mark` columns for the first 5 students.

In [ ]:
# Exercise 8.1.1 Code Cell
if 'df_students' in globals():
    df_students_bonus = df_students.copy()
    df_students_bonus['mark'] = pd.to_numeric(df_students_bonus['mark'], errors='coerce').fillna(0)

    df_students_bonus['bonus_mark'] = df_students_bonus['mark'] * 0.10
    df_students_bonus['final_mark'] = df_students_bonus['mark'] + df_students_bonus['bonus_mark']

    print(df_students_bonus[['name', 'mark', 'bonus_mark', 'final_mark']].head())
else:
    print("df_students not loaded.")

**Exercise 8.1.2:** In a copy of `df_students`:
1. Create a `mark_category` column with values:
   - `'High'` for marks ‚â• 80
   - `'Medium'` for marks between 60 and 79 (inclusive)
   - `'Low'` for marks < 60
   (Handle any non-numeric or NaN marks appropriately before applying the logic, e.g., by filling with 0 or a specific category).
2. Print the 'name', 'mark', and `mark_category` columns.

In [ ]:
# Exercise 8.1.2 Code Cell
if 'df_students' in globals():
    df_students_category = df_students.copy()
    df_students_category['mark'] = pd.to_numeric(df_students_category['mark'], errors='coerce').fillna(0) # Handle NaNs

    def categorize_mark(mark_value):
        if mark_value >= 80:
            return 'High'
        elif mark_value >= 60:
            return 'Medium'
        else:
            return 'Low'

    df_students_category['mark_category'] = df_students_category['mark'].apply(categorize_mark)
    print(df_students_category[['name', 'mark', 'mark_category']].head())
else:
    print("df_students not loaded.")

# **8.2. Changing Data Types**
Sometimes data is loaded with incorrect types (e.g., numbers as strings). Use `astype()` to convert.

* `df['column'] = df['column'].astype(new_type)`
    * `new_type` can be `int`, `float`, `str`, `bool`, `category`, etc.
    * `pd.to_numeric(df['column'], errors='coerce')` is robust for converting to numbers, turning errors into `NaN`.

**Changing Data Types**

Sometimes data columns are loaded with the wrong type (e.g., numbers as strings). Converting to the correct type is important for mathematical operations, sorting, and plotting. You can change types using:

- **`df['column'].astype(new_type)`**: converts to types like `int`, `float`, or `str`.
- **`pd.to_datetime(df['column'])`**: converts strings to datetime objects.

Always check the result with `df.dtypes` to confirm the change.

In [ ]:
# 1. Show dtypes before conversion
print("Before:", df_students.dtypes, "\n")

# 2. Convert 'id' to int if present
if 'id' in df_students:
    df_students['id'] = (
        pd.to_numeric(df_students['id'], errors='coerce')
          .fillna(0)
          .astype(int)
    )

# 3. Convert 'class' to category if present
if 'class' in df_students:
    df_students['class'] = df_students['class'].astype('category')

# 4. Convert any date column if present
if 'date_of_birth' in df_students:
    df_students['date_of_birth'] = pd.to_datetime(df_students['date_of_birth'], errors='coerce')

# 5. Show dtypes after
print("After:", df_students.dtypes)

**Exercise 8.2.1:** In `df_students`, the 'mark' column should be numeric.
1. Print the `dtype` of the 'mark' column before conversion.
2. Use `pd.to_numeric()` to ensure it's a numeric type, coercing errors.
3. Then, convert it to an integer type (if appropriate, or float if decimals are important - let's assume integer for this exercise after ensuring it's numeric and NaNs are handled, e.g. filled with 0).
4. Print the `dtype` of the 'mark' column after conversion.

In [ ]:
# Exercise 8.2.1 Code Cell
if 'df_students' in globals():
    df_mark_typed = df_students.copy()
    print("Before 'mark' conversion dtype:", df_mark_typed['mark'].dtype)

    df_mark_typed['mark'] = pd.to_numeric(df_mark_typed['mark'], errors='coerce')
    df_mark_typed['mark'] = df_mark_typed['mark'].fillna(0).astype(int) # Fill NaNs then convert to int

    print("After 'mark' conversion dtype:", df_mark_typed['mark'].dtype)
else:
    print("df_students not loaded.")

**Exercise 8.2.2:** Create a new column 'is_adult' (boolean) in a copy of `df_students`. First, add an 'age' column (e.g., `df_copy['age'] = df_copy['id'] + 15`). Set 'is_adult' to `True` if age >= 18, else `False`. Ensure 'is_adult' is of boolean type. Print the head with 'name', 'age', and 'is_adult'.

In [ ]:
# Exercise 8.2.2 Code Cell
if 'df_students' in globals():
    df_students_adult = df_students.copy()
    # Ensure 'id' is numeric for age calculation
    df_students_adult['id'] = pd.to_numeric(df_students_adult['id'], errors='coerce').fillna(0)
    df_students_adult['age'] = df_students_adult['id'] + 15

    df_students_adult['is_adult'] = (df_students_adult['age'] >= 18).astype(bool)

    print(df_students_adult[['name', 'age', 'is_adult']].head())
    print("\nData type of 'is_adult':", df_students_adult['is_adult'].dtype)
else:
    print("df_students not loaded.")

# **‚ú® Group Activity 7: Debugging `apply()` for a New Column ‚ú®**

**Scenario:** You want to create a 'name_length' column showing the length of each student's name.
1. **Buggy Code attempt:**
   ```python
# **df_students_copy = df_students.copy()**
# **df_students_copy['name_length'] = df_students_copy['name'].apply(len()) # Incorrect use of len()**
# **print(df_students_copy[['name', 'name_length']].head())**
   ```
2. Discuss: Why does `len()` (with parentheses) cause an error inside `apply()` here? How should `len` (or a `lambda` using `len`) be correctly used with `apply` for this task?
3. Write the corrected code. Also, consider what happens if a name is `NaN`. How could you handle that (e.g., by filling NaN names with an empty string or a placeholder before applying `len`)?

In [ ]:
# Group Activity 7 Code Cell
if 'df_students' in globals():
    df_students_namelen = df_students.copy()
    # Buggy attempt - len() would call the function immediately, not pass it to apply.
    # df_students_namelen['name_length'] = df_students_namelen['name'].apply(len())

    # Corrected code:
    # Handle potential NaNs in 'name' column first, as len() on NaN will error.
    df_students_namelen['name'] = df_students_namelen['name'].fillna('') # Fill NaN names with empty string

    # Option 1: Pass the function `len` directly (without parentheses)
    # df_students_namelen['name_length'] = df_students_namelen['name'].apply(len)

    # Option 2: Use a lambda function
    df_students_namelen['name_length'] = df_students_namelen['name'].apply(lambda x: len(str(x))) # str(x) for robustness if not all are strings

    print(df_students_namelen[['name', 'name_length']].head())
else:
    print("df_students not loaded.")

---
# **9. Basic Statistics and Aggregation üìä**

Pandas makes it easy to get insights from your data through statistics and aggregation.

* `df['column'].value_counts()`: Counts of unique values in a Series (good for categorical data).
* Basic statistics on Series/DataFrame columns:
    * `df['column'].mean()`
    * `df['column'].median()`
    * `df['column'].min()`, `df['column'].max()`
    * `df['column'].std()` (standard deviation)
    * `df['column'].sum()`
    * `df['column'].count()` (non-null values)
* `df.groupby('column_to_group_by')`: Groups data based on categories in a column. You can then apply aggregate functions (like mean, sum, count) to the groups.
    * Example: `df.groupby('class')['mark'].mean()` (average mark per class)

In [ ]:
# Assume df_students has columns: 'student_class', 'score', 'gender', 'id'

# 1. Counts of unique values (good for categorical data)
print("Counts per student_class:")
print(df_students['student_class'].value_counts(), "\n")

# 2. Basic statistics on the 'score' column
print("Mean score:       ", df_students['score'].mean())
print("Median score:     ", df_students['score'].median())
print("Min score:        ", df_students['score'].min())
print("Max score:        ", df_students['score'].max())
print("Std deviation:    ", df_students['score'].std())
print("Sum of scores:    ", df_students['score'].sum())
print("Count (non-null): ", df_students['score'].count(), "\n")

# 3. Grouping and aggregation
print("Average score per student_class:")
print(df_students.groupby('student_class')['score'].mean(), "\n")

# 4. Multiple aggregations at once
print("Aggregated stats per student_class:")
print(
    df_students
      .groupby('student_class')['score']
      .agg(['mean', 'median', 'min', 'max', 'std', 'count'])
)

**Exercise 1**

Add your solution below:

In [ ]:
# Your code here

**Exercise 2**

Add your solution below:

In [ ]:
# Your code here

**Group Activity**

Discuss with your group: ...

**Exercise 9.1.1:** Using `df_students`:
1. Get the value counts for the 'gender' column.
2. Calculate and print the percentage of each gender using `value_counts(normalize=True) * 100`.

In [ ]:
# Exercise 9.1.1 Code Cell
if 'df_students' in globals():
    print("Value counts for gender:")
    print(df_students['gender'].value_counts())
    print("\nPercentage of each gender:")
    print(df_students['gender'].value_counts(normalize=True) * 100)
else:
    print("df_students not loaded.")

**Exercise 9.1.2:** Using `df_students`:
1. Find the maximum mark achieved by 'male' students and 'female' students separately (Hint: use `groupby()`).
2. Find the total number of students in each 'class'.

In [ ]:
# Exercise 9.1.2 Code Cell
if 'df_students' in globals():
    df_students['mark'] = pd.to_numeric(df_students['mark'], errors='coerce') # Ensure numeric

    print("Maximum mark by gender:")
    print(df_students.groupby('gender')['mark'].max())

    print("\nTotal number of students per class:")
    print(df_students.groupby('class')['id'].count()) # Or .size()
else:
    print("df_students not loaded.")

# **‚ú® Group Activity 8: Interpreting `groupby()` Results ‚ú®**

**Scenario:** You run `df_students.groupby('class')['mark'].agg(['mean', 'min', 'max', 'count'])`.
1. Execute this code.
2. Discuss what each column in the resulting DataFrame represents (`mean`, `min`, `max`, `count`).
3. Pick one 'class' from the output (e.g., 'Four'). Explain in plain English what the statistics tell you about the marks of students in that class.

In [ ]:
# Group Activity 8 Code Cell
if 'df_students' in globals():
    df_students['mark'] = pd.to_numeric(df_students['mark'], errors='coerce')
    class_stats = df_students.groupby('class')['mark'].agg(['mean', 'min', 'max', 'count'])
    print(class_stats)
    # Discussion:
    # 'mean': Average mark for students in that class.
    # 'min': Lowest mark achieved by a student in that class.
    # 'max': Highest mark achieved by a student in that class.
    # 'count': Number of students in that class who have a non-missing mark.
    # Example for 'Four': "In Class Four, there are [count] students with recorded marks.
    # The average mark is [mean]. The highest mark was [max], and the lowest was [min]."
else:
    print("df_students not loaded.")

---
# **10. Basic Visualizations üìàüìâ**

Visualizations help in understanding data patterns and trends. Pandas integrates with Matplotlib for plotting.
Remember we imported `matplotlib.pyplot as plt`.

**10. Basic Visualization**

Visualizing data helps you see patterns, trends, and outliers quickly. Pandas integrates with matplotlib for simple plotting:

- **Bar Charts**: `df['column'].value_counts().plot(kind='bar')` displays counts.
- **Line Plots**: `df['column'].plot()` shows how a variable changes over an index.
- **Scatter Plots**: `df.plot.scatter(x='col1', y='col2')` examines relationships between two variables.

Remember to `import matplotlib.pyplot as plt` and then call `plt.show()` after plotting if needed. Always label axes with `plt.xlabel()` and `plt.ylabel()` and add a title with `plt.title()` for clarity.

# **10.1. Bar Plots**
Bar plots are useful for comparing categorical data.
`df['column'].value_counts().plot(kind='bar', title='My Bar Plot')`
`plt.xlabel('Categories')`
`plt.ylabel('Count')`
`plt.xticks(rotation=45)` (to rotate x-axis labels if they overlap)
`plt.show()`

In [ ]:
# Exercise 10.1.1 Code Cell
if 'df_students' in globals():
    ids_for_hist = pd.to_numeric(df_students['id'], errors='coerce').dropna()
    if not ids_for_hist.empty:
        ids_for_hist.plot(kind='hist', title='Distribution of Student IDs', bins=10, edgecolor='blue')
        plt.xlabel('Student ID')
        plt.ylabel('Frequency')
        plt.show()
    else:
        print("No valid IDs to plot for histogram.")
else:
    print("df_students not loaded.")

In [ ]:
# Same Bar Visual with Matplotlib Library
# 1. Compute counts per class
counts = df_students['student_class'].value_counts()
classes = counts.index.tolist()
values = counts.values

# 2. Create the bar chart with matplotlib
plt.figure(figsize=(8, 5))
plt.bar(classes, values, edgecolor='black')

# 3. Add titles and labels
plt.title('Number of Students per Class')
plt.xlabel('Class')
plt.ylabel('Number of Students')

# 4. Add a grid on the y-axis for readability
plt.grid(axis='y', alpha=0.75)

# 5. Rotate x-labels if they overlap
plt.xticks(rotation=30)

plt.tight_layout()
plt.show()

**Exercise 10.1.1:** Create a bar plot showing the counts of students by 'gender'. Add appropriate title and labels.

In [ ]:
# Exercise 10.2.1 Code Cell
if 'df_students' in globals():
    # Fill NA for gender to include them as a category if desired, or dropna()
    gender_counts = df_students['gender'].fillna('Unknown').value_counts()
    if not gender_counts.empty:
        gender_counts.plot(kind='bar', title='Student Counts by Gender', color=['pink', 'lightblue', 'lightgray'])
        plt.xlabel('Gender')
        plt.ylabel('Number of Students')
        plt.xticks(rotation=0)
        plt.show()
    else:
        print("No data for 'gender' value counts plot.")
else:
    print("df_students not loaded.")

# **10.2. Scatter Plots**
Scatter plots show the relationship between two numerical variables.
`df.plot.scatter(x='col1', y='col2', title='My Scatter Plot')`
`plt.show()`

In [ ]:
# Example 10.2.1: Scatter plot of 'id' vs 'mark'
if 'df_students' in globals():
    df_students['id'] = pd.to_numeric(df_students['id'], errors='coerce')
    df_students['mark'] = pd.to_numeric(df_students['mark'], errors='coerce')
    # Drop rows where either id or mark is NaN for a clean plot
    df_scatter_data = df_students.dropna(subset=['id', 'mark'])
    if not df_scatter_data.empty:
        df_scatter_data.plot.scatter(x='id', y='mark', title='Student ID vs. Mark', color='green', alpha=0.6)
        plt.xlabel('Student ID')
        plt.ylabel('Mark Achieved')
        plt.grid(True)
        plt.show()
    else:
        print("Not enough valid data for scatter plot after cleaning 'id' and 'mark'.")
else:
    print("df_students is not loaded or has issues with 'id'/'mark' columns.")

**Exercise 10.2.1:** Create a scatter plot of 'mark' vs 'id' (reverse of the example). Does it look different? Why or why not? Add a title.

In [ ]:
# Exercise 10.2.1 Code Cell
if 'df_students' in globals():
    df_scatter_data_rev = df_students.dropna(subset=['id', 'mark'])
    if not df_scatter_data_rev.empty:
        df_scatter_data_rev.plot.scatter(x='mark', y='id', title='Mark vs. Student ID', color='purple', alpha=0.6)
        plt.xlabel('Mark Achieved')
        plt.ylabel('Student ID')
        plt.grid(True)
        plt.show()
        print("The plot looks different because the axes are swapped. The relationship visualization changes perspective.")
    else:
        print("Not enough valid data for scatter plot.")
else:
    print("df_students not loaded.")

**10.3. Line Plots**  
Line plots connect data points in the order they appear, making them ideal for visualizing trends over a sequence (e.g., time series).  
`df.plot.line(x='col1', y='col2', title='My Line Plot')`  
`plt.show()`

In [ ]:
# Plot 'score' over the DataFrame index using pandas‚Äô built-in plotting
ax = df_students['score'].plot.line(
    title='Trend of Score Over Index',
    xlabel='Record Number',
    ylabel='Score',
    grid=True
)

---
# **11. Best Practices Recap üåü**

* **Clear Variable Names:** Use descriptive names for DataFrames and Series (e.g., `df_students`, `mean_score`).
* **Comment Your Code:** Explain complex steps or a non-obvious logic with `#` comments.
* **Inspect Frequently:** Use `.head()`, `.info()`, `.shape`, `.describe()` often to check your data and the results of operations.
* **Work on Copies:** When performing operations that modify a DataFrame (especially `inplace=True` or tricky transformations), it's often safer to work on a copy: `df_copy = df.copy()`.
* **Break Down Problems:** For complex tasks, break them into smaller, manageable steps.
* **Understand Your Data Types:** Ensure columns have the correct data types for the operations you want to perform.

---
# **üéâ Day 3 Wrap-up**

Congratulations! You've learned the fundamentals of data analysis using Pandas. You can now:
* Create and understand Series and DataFrames.
* Load data from CSV files.
* Inspect, clean, and transform datasets.
* Calculate basic statistics and perform aggregations.
* Create simple visualizations to explore your data.

**Keep practicing!** The more you work with data, the more comfortable you'll become with Pandas. Try these techniques on different datasets or explore more advanced Pandas features.

**Next Steps:** We'll build upon these skills to tackle more complex data analysis tasks and possibly explore other libraries like Seaborn for more advanced visualizations.